label {
  justify-content: center;
}

#icon-back {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#second {
  display: none;
}

@media (min-width: $breakpoint-mobile) {
  #first {
    display: none;
  }

  #second {
    display: block;
  }

  form {
    width: 90%;
  }

  .new-desktop {
    background-color: $white;
    border-radius: 15px;
    border: none;
    box-shadow: $medium-shadow;
    margin: 30px auto;
    padding: 30px;
    width: 100%;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .new-home-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
  }

  .new-home-photo {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    overflow: auto;
    width: 50%;

    .field .file-field {
      width: 80%;
      height: 50%;
    }

    .file-field label {
      display: unset;
      font-size: larger;
      height: 500px;
    }

    .file-field .photos-field {
      min-height: 645px;
      min-width: 80px;
    }

    strong {
      text-align: center;
    }
  }

  .new-home-form {
    align-items: center;
  }

  .button-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 33%; 
  }
}

#pac-input {
  background-color: $white;
  border-radius: 4px;
  border: none;
  box-shadow: $low-shadow;
  left: 4px;
  padding: 4px;
  position: relative;
  top: 35px;
  width: 400px;
  z-index: 2;
}
