.filter-nav {
  display: none;
  z-index: 9;
}

.homes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: auto;
  
  a {
    color: $black;
    text-decoration: none;
  }
}

.home-card {
  background-color: $white;
  border-radius: 10px;
  box-shadow: $medium-shadow;
  max-width: 300px;
  overflow: hidden;
  width: 100%;

  figure {
    height: auto;
    width: 100%;

    img {
      min-height: 350px;
      min-width: 100%;
      object-fit: fill;
      object-position: bottom;
    }
  }

  .home-info {
    align-items: center;
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    padding: 0 10px 10px;
    
    p:first-child {
      align-self: baseline;
      font-size: 1.4rem;
      font-weight: 700;
    }

    p:last-child {
      font-size: 1.2rem;
      font-weight: 700;
    }

    i {
      color: $primary-color;
    }

    p:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    
  }
}


@media only screen and (min-width: $breakpoint-mobile) {
  .home-card:hover {
    box-shadow: $large-shadow;
    transform: scale(1.02);
  }

  .homes-main .search-home {
    margin: 25px 0 20px;
    width: 40%;

    label {
      font-size: 1.5rem;
    }
  }

  .home-card {
    figure img {
      min-height: 0;
      max-height: 270px;
    }

    .home-info {
      font-size: 1.3rem;
      grid-template-rows: 40px 40px auto;
      
      p:first-child {
        font-size: 1.5rem;
      }
  
      p:last-child {
        font-size: 1.7rem;
      }
    }
  }

  .filter-nav {
    display: flex;
    position: sticky;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
    height: auto;
    padding: 1rem 2rem;
    gap: 10px;
    max-width: 1260px;

    ul {
      list-style: none;
      
      li {
        display: inline-block;
        border-right: 1px solid $black;
        padding-right: 10px;
        margin-right: 10px;
        
        a {
          text-decoration: none;
          color: $black
        }
      }
    }
  }
}
