main {
  @include center-flex-column;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: 1rem 10% 5rem 10%;
  width: 100%;

  .search-options {
    background-color: $white;
    border-radius: 10px;
    box-shadow: $medium-shadow;
    margin-top: 10px;
    max-width: 80vw;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2rem;
    white-space: nowrap;
    
    p:first-child {
      display: none;
    }

    .cards {
      width: 100%;

      .card {
        border-bottom: 1px solid $shadow-grey;
        border-radius: 5%;
        box-shadow: $medium-shadow;
        display: inline-block;
        height: 33rem;
        margin-right: 2rem;
        max-width: 22rem;
        overflow: hidden;
        
        figure {
          height: 90%;
          width: auto;

          img {
            height: 100%;
            width: 100%;
          }
        }

        p {
          padding: 5px;
          text-align: center;
        }
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.btn {
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 10px auto 0;
  width: 100%;
}

@media only screen and (min-width: $breakpoint-mobile) {
  .section-img {
    background-image: image-url('landing-page/landing-page-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: absolute;
    top: -1rem;
    width: 100%;
  }

  .home-main {
    padding-top: 10vh;
  }

  main {
    position: relative;
    margin: 0; 

    .search-options {
      overflow: auto;
      padding: 2rem 4rem 4rem;
      width: auto;

      p:first-child {
        display: inline-block;
        padding-bottom: 2rem;
      }

      .cards {
        .cards-container {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: space-evenly;

          .card {
            box-shadow: none;
            height: 38rem;
            margin: 0;
            max-width: 24rem;
          }

          .card:hover {
            box-shadow: $large-shadow;
          }
        }
      }
    }

    .btn {
      max-width: 30rem;
    }
  }
}

.map {
  width: 100%;
  min-height: 400px;
}
