label {
  justify-content: center;
}

#icon-back {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#second {
  display: none;
}

@media (min-width: $breakpoint-mobile) {
  #first {
    display: none;
  }

  #second {
    display: block;
  }

  form {
    width: 90%;
  }

  .new-desktop {
    background-color: $white;
    border-radius: 15px;
    border: none;
    box-shadow: $medium-shadow;
    margin: 30px auto;
    padding: 30px;
    width: 1050px;

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  

  .new-home-cont {
    display: flex;
  }

  .new-home-photo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    overflow: auto;
    width: 50%;

    .file-field {
      height: 100%;
      max-height: 480px;
      overflow: auto;
    }

    .file-field label {
      display: unset;
      font-size: larger;
      height: 500px;
    }

    .file-field .photos-field {
      min-height: 400px;
      min-width: 80px;
    }

    strong {
      text-align: center;
    }

    .upload {
      height: 92%;
    }
  }

  .new-home-form {
    align-items: center;
    width: 50%;

    h1 {
      font-size: 2.5rem;
    }
  }

  .button-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 33%; 
  }
}

#pac-input {
  background-color: $white;
  border-radius: 2px;
  border: none;
  box-shadow: 0 1px 4px -1px $text-grey;
  font-size: 1.7rem;
  height: 40px;
  left: -60px;
  padding: 4px 4px 4px 8px;
  position: relative;
  top: 51px;
  width: 550px;
  z-index: 2;
}

.map { margin-bottom: 10px; }
