.principal-info {
  width: 48%;

  div.title {
    display: flex;
    justify-content: center;
    width: 100%;
    
    h2 {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  & > p { margin: 8px 0; }

  .reputation {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 0 25px 20px;
    
    #name-rep {
      text-decoration: underline;
    }

    .score-house{
      width: 40%;
    }
  }
}

.photos-selection {
  display: none;
}

.content-show {
  @include center-flex-column;  
  font-size: 14px;
  margin: 0 25px;
}

.show-house-text {
  text-align: center;
}

.home-reservation {
  width: 100%;

  form {
    display: flex;
    justify-content: center;

    input { 
      background: none;

    }
  }
}

.house-pets-info {
  border-bottom: solid 2px;
  display: flex;
  font-size: small;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.home-reservation .reservation {
  @include center-flex-column;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 3px black;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;

  h3 {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }

  .reservation-preview {
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 3px black;
    margin-bottom: 15px;
    padding: 5px;
    width: 85%;

    p {
      margin: 12px;
    }
  }

  .days {
    border-bottom: solid 2px;
    display: flex;
    justify-content: space-around;

    p {
      margin: 7px;
      width: 50%;
    }

    .reservation-date {
      background-color: $white;
    }
  }

  .reservation-select {
    width: 100%;
  }

  .btn-reservation {
    background-color: $primary-color;
    border-radius: 15px;
    box-shadow: $low-shadow;
    color: black;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    width: 30%;
    border: none;
  }

  .btn-reservation:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.opinions {
  width: 100%;

  h3 {
    margin-bottom: 15px;
  }

  .opinion {
    margin-bottom: 20px;
  }

  .opinion-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .nombre {
      text-decoration: underline;
    }
  }
  
  p {
    text-align: justify;
  }

  .plus {
    display: flex;
    justify-content: center;

    p {
      border-bottom: 1px solid black;
      text-align: center;
      width: 30%;
    }
  }
}

.options-show {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  width: 60%;
}

.button-img {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  height: 30px;
  
  .forward, .back {
    background-color: $white;
    border-radius: 50%;
    opacity: 0.6;
    width: 10%;
  }
}

.img-photo {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .img-main {
    max-width: 100vw;
  }
}

@media (min-width: $breakpoint-mobile) {
  .show-desktop {
    background-color: $white;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 3px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    min-height: 750px;
    padding: 30px;
    width: 1210px;

    & > h2 { 
      margin-bottom: 8px;
      text-align: center;
      width: 100%; 
    }
  }

  .photos-selection {
    cursor: pointer;
    display: block;
    max-width: 70px;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
  }

  .photos-selection:hover {
    opacity: 1;
  }

  .active {
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    opacity:  1 !important;
  }

  .first-section {
    display: flex;
    flex-direction: column-reverse;
    top: 0;
  }

  .home-reservation {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    
    .reservation {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 80%;

      h3 { margin: 10px 0 }

      .reservation-preview {
        @include center-flex-column;
        box-shadow: none;
        padding: 10px;

        .days, .pets {
          border: 1px solid $light-grey-opacity;
          overflow: hidden;
          width: 80%;
        }

        .pets {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          padding: 4px;

          select { width: 100%; }
        }

        .days {
          border-bottom: none;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          justify-content: space-between;

          p { margin: 4px 0; }

          div:nth-child(1) { border-right: 1px solid $light-grey-opacity; }

          div {
            padding: 4px;
            width: 50%;

            input {
              border: none;
              width: 100%; 
            }
          }
        }

        select {
          border: none;
          padding: 4px;
        }
      }
    }
  }

  .address {
    width: 100%;

    p { font-size: 1.7rem; }

    a { 
      display: block;
      text-align: right; 
    }
  }

  .content-show {
    justify-content: space-between;
    margin: 0;
    width: 48%;

    & > h3 { font-size: 2rem; }

    .house-pets-info {
      border-bottom: none;
      flex-direction: column;
      justify-content: flex-start;
      min-width: 200px;
      width: 40%;
      
      span {
        border-bottom: solid 2px;
        margin-bottom: 10px;
        width: 90%;
      }
    }  
  }

  .opinions {
    border-radius: 15px;
    box-shadow: 0 0 3px black;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    max-height: 300px;
    min-height: 270px;
    padding: 20px;

    .reviews {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 90px 90px;
      max-height: 80%;

      .opinion {
        height: 100%;
        overflow: hidden;
        width: 100%;
      } 
    }

    section.opinion {
      width: 45%;
    }
  }

  .opinions > p {
    margin-bottom: 10px;
    text-align: center;
  }

  .img-photo {
    display: flex;
    margin-bottom: 1rem;

    .img-main {
      max-height: 340px;
      object-fit: cover;
      width: 450px;
    }

    .photo-secundary {
      margin-bottom: 5px;
      margin-left: 5px;
      max-height: 40px;
      object-fit: cover;
      width: 60px;
    }
  }

  .principal-info .reputation {
    margin: 10px 0 0;
  }
  
  .button-img {
  display: none;
  }

  .reputation {
    .score {
      flex-wrap: wrap;
      justify-content: flex-start;
  
      p {
        width: 100%;
      }
    }
  }
}
