.content-pet {
  .new-pet-photo {
    .img-photo {
      justify-content: center;
    }

    img {
      height: 160px;
      object-fit: cover;
      width: 240px;
    }
  }

  .field-pet-photo {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    p {
      font-size: 1.5rem;
      margin-bottom: 4px;
    }
  }
}

.show-pets-buttons { 
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.show-pet-link {
  margin-bottom: 30px;
  text-align: center;
}

.register-pet-link {
  margin-bottom: 20px;
}


@media only screen and (min-width: $breakpoint-mobile) {
  #pets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  .pets-view {
    background-color: $white;
    height: 100%;
    height: 90%;
    margin: 0;
    padding: 10px;
    width: 300px;
  }

  .pets-view:hover {
    transform: scale(1.03);
  }
}
