.new-model {
  background-color: $white;
  border-radius: 15px;
  box-shadow: $medium-shadow;
  padding: 15px;
  width: 800px;

  form {
    width: 100%;
  }

  .upload {
    height: 230px;
    width: 230px;
  }
}
