.host-reservation .reservation {
  border: 1px solid black;
}

.reservation {
  background-color: $white;
  box-shadow: $medium-shadow;
  padding: 5px;
}

.reservation-info {
  border-bottom: 1px solid $black;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.reservation-guest {
  figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    p {
      font-weight: bold;
    }

    img {
      width: 50%;
    }
  }
}

.status-buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;

  .button_to {
    @include center-grid
  }

  button {
    border-radius: 5px;
    border: none;
    padding: 4px;
    width: auto;
  }

  button:hover {
    box-shadow: $low-shadow;
    transform: scale(1.04);
  }

  .cancel-button { background-color: $canceled; }

  .approve-button { background-color: $approved; }

  .finish-button { background-color: $finished;}
}

@media only screen and (min-width: $breakpoint-mobile) {
  .reservation {
    border-radius: 15px;
    box-shadow: $low-shadow;
    display: grid;
    margin-bottom: 15px;
    padding: 1rem;
    position: relative;
    width: 900px;

    .left-review {
      font-size: 2rem;
      position: absolute;
      right: 6px;
      top: 10px;
    }
  }

  .review-link {
    align-items: center;
    display: flex;
    gap: 6px;
    text-decoration: none;
  }

  .reservation-detail {
    display: flex;
    flex-wrap: wrap;

    h1 {
      width: 65%;
    }

    .reservation-info {
      border: none;
      width: 70%;
    }

    .reservation-date {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;

      p:nth-child(2) {
        font-size: 2.5rem;
        text-align: right;
      }
    }
  }

  .reservation-guest {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-size: 2.4rem;
      width: 100%;
    }

    figure {
      justify-content: right;
      max-width: 35%;

      p {
        text-align: right;
        width: 100%;
      }

      img {
        height: 70px;
        object-fit: cover;
        width: 100px;
      }
    }
  }

  .reservation-guest > p { font-size: 3rem; }

  .status-buttons {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    width: auto;

    .button_to {
      display: inline-block;
      width: auto;
    }
  }

  .reservation-index {
    a {
      color: $black;
      text-decoration: none;
    }

    .reservation {
      padding-right: 30px;
      width: 650px;
  
      p { font-size: 1.3rem; }
    }

    .reservation-date { justify-content: center; }

    .reservation-detail .reservation-date p {
      margin: 0;
    }

    .reservation-info { 
      padding: 0 1rem 1rem 0;
    }

    .reservation-detail h1 { 
      font-size: 2.1rem;
      padding-left: 20px;
      text-align: center;
      width: 100%;
    }

    .reservation-guest {
      padding-left: 2rem;

      h1 { font-size: 1.8rem; }
    }

    .reservation-guest > p { font-size: 2rem; }

    .pending { background-color: $pending; }

    .canceled { background-color: $canceled; }

    .aproved { background-color: $approved; }

    .finished { background-color: $finished; }
  }

  .links {
    display: flex;
    gap: 50px;
  }
}
