.reservation-main {
  @include center-flex-column;
  background-color: $white;
  margin-top: 0;
  padding-top: 0;

  .reservation-info{
    div{
      p{
        margin-bottom: 10px;
      }

      a{
        text-decoration: none;
      }
    }
  }
}

h1 {
  display: none;
}

.reservation-form {
  width: 100%;
}

@media only screen and (min-width: $breakpoint-mobile) {
  .reservation-main {
    border-radius: 20px;
    box-shadow: 0 0 3px black;
    margin-bottom: 20px;
    padding : 0;
    width: 60%;

    

    .info-reservation-desktop{
      display: flex;
      gap: 8px;

      .reservation-form{
        width: 50%;
      }

      .reservation-info {
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
      }
    }
  }

  h1 {
    display: block;
  }

  .reservation-form {

    input {
      border-radius: 8px;
    }

    .confirm {
      .actions {
        input {
          border-radius: 2rem;
          border: none;
          font-size: 2rem;
          justify-self: center;
          padding: 1rem;
        }

        input:hover {
          box-shadow: $low-shadow;
          transform: scale(1.04);
        }
      }
    }
  }

  .reservation-new {
    padding: 20px;
    width: 800px;

    .info-reservation-desktop { width: 100%; }

    img {
      max-height: 400px;
      object-fit: cover;
      width: 100%;
    }
  }
}
