.review-main {
  background-color: $white;
  border-radius: 15px;
  box-shadow: $medium-shadow;
  margin: 30px 0;
  max-width: 800px;
  padding: 20px;

  .reservation-info {
    width: 100%;
  }

  .reservation-detail {
    font-size: 1.8rem;

    h1 { font-size: 3.2rem; }

    h2 { font-size: 2.6rem; }

    h3 { font-size: 2rem; }
  }
}

.review-form {
  width: 100%;
}

.field {
  textarea {
    background-color: $secundary-color;
    border-radius: 5px;
    border: none;
    box-shadow: $low-shadow;
    font-size: 1.5rem;
    height: 90px;
    margin: 1rem 0;
    max-height: 90px;
    max-width: 100%;
    padding: 10px;
  }
}
