.show-user {
  width: 80%;
  background-color: $white;
  box-shadow: $medium-shadow;
  padding: 8px;
}

.profile {
  width: 100%;

  .profile-photo {
    @include center-grid;

    img {
      border: 2px solid $black;
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
  }

  .photo {
    width: 45%;
    max-width: 50%;
    height: 150px;
    object-fit: cover;
  }

  .new-link {
    @include center-flex-column;
    background-color: $light-grey-opacity;
    text-decoration: none;
  }
}
