<h1>Tus mascotas</h1>
<div id="pets">
  <%= link_to new_pet_path, class: 'home-card add-model' do %>
      <span>+</span>
    <% end %>
  <% @pets.each do |pet| %>
      <%= link_to pet do %>
        <%= render pet %>
      <% end %>
  <% end %>
</div>
