<%= render @pet %>
<div class="show-pets-buttons">
  <a href= <%= edit_pet_path(@pet) %>><i class="fa-solid fa-pen-to-square"></i></a>
  <a href= <%= pets_path %>><i class="fa-solid fa-arrow-rotate-left"></i></a>
  <%= button_to "Eliminar", @pet, method: :delete %>
</div>   
