<footer>
  <div class="footer-info">
  
  <figure>
    <%= image_tag "logo-bc.png", class:"image"%>
  </figure>

    <div class="info">
      <div class="contact">
        <div class="contact-info">
          <p>
            ¡Cuidando perros desde el renacentismo pa!
          </p>
        </div>
  
        <div class="contact-info">
          <i class="fa-solid fa-mobile-screen"></i>
          <p>+52-312-777-6969</p>
        </div>
  
        <div class="contact-info">
          <i class="fa-solid fa-envelope"></i>
          <p>petcare@gmail.com</p>
        </div>
      </div>

      <div class="list">
        <ul>
          <li>Acerca de nosotros</li>
          <li>¿Qué hacemos?</li>
          <li>FAQ</li>
          <li>Contáctanos</li>
        </ul>
      </div>

      <div class="social">
        <div>
          <a href="https://es-la.facebook.com/"  target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>

    <span>© Copyright 2022 Petcare. All rights reserved.</span>
  </div>
</footer>
