<aside class="general-menu menu" id="general-menu">
  <h1>Mejora tu busqueda</h1>
  <section class="options-menu">
    <li><%= link_to 'Más recientes', homes_path(filter: 'date') %></li>
    <li><%= link_to 'Mejor reputación', homes_path(filter: 'score') %></li>
    <li><%= link_to 'Menor costo', homes_path(filter: 'price_lower') %></li>
    <li><%= link_to 'Mayor costo', homes_path(filter: 'price_higher') %></li>
  </section>
</aside>
