<aside class="general-menu menu">
  <h1>Mejora tu busqueda</h1>
  <section class="options-menu">
    <a href="/">Para grandes compañeros</a>
    <a href="/">Para pequeños compañeros</a>
    <a href="/">Mejores evaluaciones</a>
    <a href="/">Opcion de filtro 4...</a>
    <a href="/">Opcion de filtro 5...</a>
  </section>
</aside>
