<section class="notifications-container" id="notifications-container">
  <div class="notifications" id="notifications">
    <% current_user.notifications.unread.each do |notification| %>
      <%= link_to notification.notifiable, id: "#{notification.id}", onclick: 'markAsRead(this);' do %>
        <article class="notification">
          <span><%= notification.text %></span>
        </article>
      <% end %>
    <% end %>
  </div>
</section>
