<section class="notifications-container" id="notifications-container">
  <div class="notifications" id="notifications">
    <% current_user.host_reservations.where(status: 0).each do |reservation| %>
      <%= link_to reservation do %>
        <article class="notification">
          <p><%= reservation.guest.name %> necesita un lugar para su mascota </p>
          <p>Del <%= reservation.check_in.strftime('%d de %B de %Y') %> al <%= reservation.check_out.strftime('%d de %B de %Y') %></p>
       </article>
      <% end %>
    <% end %>
  </div>
</section>
