<h1>Gestión de usuarios</h1>
<div class="table-users">
  <table class="table">
    <thead>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Fecha Nacimiento</th>
      <th>Dirección</th>
      <th>Rol</th>
      <th>DNI</th>
      <th>Verificar Usuario</th>
    </thead> 
    <% @users.each do |user| %>
      <%= render 'users/list' , user: user%>
    <% end %>
  </table>
</div>
