* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $secundary-color;
  display: flex;
  flex-direction: column;
  position: relative;
}

form {
  width: 80%;
}

@media only screen and (min-width: $breakpoint-mobile) {
  form {
    width: 25%;
  }
}
