<section class="section-img">
</section>

<main>
  <form class="search-home">
    <div class="location search-section">
      <label>Ubicación</label>
      <input type="text" class="search-input" placeholder="Lugar cercano...">
    </div>
    <div class="check-in search-section">
      <label>Llegada</label>
      <input type="date" class="search-input" placeholder="¿Cuándo?">
    </div>
    <div class="check-out search-section">
      <label>Salida</label>
      <input type="date" class="search-input" placeholder="¿Cuándo?">
    </div>
    <div class="search">
      <div>
        <button type="submit" class="">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </form>

  <section class="search-options">
    <div>
      <p>Conoce el lugar ideal para tu compañero</p>
    </div>
    <div class="cards">
      <a href="/" class="card">
        <figure>
          <%= image_tag "landing-page/house-1", class:"image"%>
        </figure>
        <p>Villa de Alvarez</p>
      </a>
      <a href="/" class="card">
        <figure>
          <%= image_tag "landing-page/house-2", class:"image"%>
        </figure>
        <p>Villa de Alvarez</p>
      </a>
      <a href="/" class="card">
        <figure>
          <%= image_tag "landing-page/house-3", class:"image"%>
        </figure>
        <p>Villa de Alvarez</p>
      </a>
      <a href="/" class="card">
        <figure>
          <%= image_tag "landing-page/house-4", class:"image"%>
        </figure>
        <p>Villa de Alvarez</p>
      </a>
    </div>
  </section>    

  <div class="btn">
    <button class="button">Conoce más</button>
  </div>
</main>
