<section class="section-img"></section>
</section>
<main>
  <section>
    <div class="search-home">
      <div class="location search-section">
        <p>Location</p>
        <span>Lugar cercano...</span>
      </div>
      <div class="check-in search-section">
        <p>Salida</p>
        <span>¿Cuándo?</span>
      </div>
      <div class="check-out search-section">
        <p>Llegada</p>
        <span>¿Cuándo?</span>
      </div>
      <div class="search">
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
  </section>
</main>
