<main class="reservation-main reservation-index">
  <h1>Reservaciones</h1>
    <% if @host_reservations.size.zero? and @guest_reservations.size.zero? %>
      <p>No ha realizado ninguna reservación</p>
    <% else %>
      <% unless @guest_reservations.size.zero? %>
        <strong>Hechas</strong>
        <div class="revervation-container">
          <% @guest_reservations.each do |reservation| %>
            <div class="guest-reservation">
              <%= link_to reservation_path(reservation) do %>
                  <%= render "reservation_index", reservation: reservation %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% unless @host_reservations.size.zero? %>
        <strong>Solicitadas</strong>
        <div class="revervation-container">
          <% @host_reservations.each do |reservation| %>
            <div class="host-reservation">
              <%= link_to reservation_path(reservation) do %>
                  <%= render "reservation_index", reservation: reservation %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</main>
