<main class="homes-main">
  <%= render 'partials/searcher' %>

  <nav class="filter-nav">
    <ul>
      <li>Más recientes</li>
      <li>Mejor reputación</li>
      <li>Menor costo</li>
      <li>Mayor costo</li>
    </ul>
  </nav>

  <div class="homes" id="homes">
    <% @homes.each do |home| %>
      <%= link_to home, class: 'home-card-container' do %>
        <%= render 'home_card', home: home %>
      <% end %>
    <% end %>
  </div>
</main>
