<main class="homes-main">
  <%= render 'partials/searcher' %>

  <nav class="filter-nav">
    <ul>
      <li><a href="/homes">Más recientes</a></li>
      <li><a href="/homes">Mejor reputación</a></li>
      <li><a href="/homes">Menor costo</a></li>
      <li><a href="/homes">Mayor costo</a></li>
    </ul>
  </nav>

  <div class="homes" id="homes">
    <% @homes.each do |home| %>
      <%= link_to home, class: 'home-card-container' do %>
        <%= render 'home_card', home: home %>
      <% end %>
    <% end %>
  </div>
</main>
