.logo {
  font-size: 2rem;
  
  a {
    text-decoration: none;
  }
}

.button {
  background-color: $white;
  border-radius: 20px;
  border: none;
  box-shadow: $medium-shadow;
  font-size: 20px;
  font-weight: 400;
  height: 4.5rem;
  width: 100%;
}

.button:hover {
  box-shadow: $medium-shadow;
  cursor: pointer;
  transform: scale(1.02);
}

.search-home {
  @include center-flex-row;
  background-color: $white;
  border-radius: 4rem;
  box-shadow: $y-shadow;
  justify-content: space-between;
  max-width: 100rem;
  padding: 0.5rem 1rem;

  .search-section {
    margin-left: 1rem;
    width: 100%;

    label {
      color: $black;
      font-weight: 600;
    }

    input {
      background-color: inherit;
      border: none;
      color: $text-grey;
      display: block;
      width: 100%;
    }

    input::placeholder {
      color: $text-grey;
    }
  }

  .search {
    @include center-grid;
    width: 10%;

    div {
      @include center-grid;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      
      button {
        background-color: inherit;
        border: none;
      }
    }

    div:hover {
      background-color: $text-grey
    }
  }
}

.content {
  @include center-flex-column;
  font-size: 2rem;
  min-height: calc(100vh - 229px);
  padding-top: 5.4rem;
}

@keyframes msg-animation {
  50% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

.notice, .alert{
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-name: msg-animation;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 0 66%;
  position: absolute;
  text-align: center;
  top: 8rem;
  width: 28rem;
}

.alert {
  background-color: $error-bg;
  border: 1px solid $error-border;
  z-index: 2;
}

.notice {
  background-color: $valid-bg;
  border: 1px solid $valid-border;
  z-index: 2;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 1.5rem;
    font-weight: 700;
  }

  input {
    border-radius: 2rem;
    border: none;
    color: $black;;
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
    width: 100%;
  }

  input[type="range"] {
    width: 40%;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  select {
    background-color: $light-grey;
    border-radius: 2rem;
    color: white;
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
  }
}

.actions {
  @include center-grid;
  margin-top: 1rem;

  input {
    border-radius: 8px;
    padding: 8px;
    border: none;
    box-shadow: $low-shadow;
  }

  input:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.upload {
  @include center-flex-column;
  background-color: $light-grey-opacity;
  justify-self: center;
  min-height: 150px;
  min-width: 150px;
  position: relative;

  img {
    display: none;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.photos-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .photo {
    display: inline-block;
    flex-grow: 1;
    height: auto;
    width: 33%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.file-field .photos-field {
  justify-self: baseline;
  min-height: 80px;
  min-width: 80px;
}

.photo {
  position: relative;

  .trash-icon {
    background-color: $shadow-grey;
    color: $black;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.photo:hover {
  .trash-icon {
    @include center-grid;
  }
}

.show {
  margin: 20px 0;
  width: 50%;
}

.file-field {
  label {
    display: grid;
    grid-template-rows: auto auto;
  }

  .upload-edit {
    img {
      display: block;
    }
  }
  .upload:hover {
    background-color: $shadow-grey;
  }

  .input-file {
    display: none;
  }
}
