.logo {
  font-size: 2.5rem;
  
  a {
    text-decoration: none;
  }
}

.button {
  background-color: $white;
  border-radius: 20px;
  border: none;
  box-shadow: $medium-shadow;
  font-size: 20px;
  font-weight: 400;
  height: 4.5rem;
  width: 100%;
}

.button:hover {
  box-shadow: $medium-shadow;
  cursor: pointer;
  transform: scale(1.02);
}

.search-home {
  @include center-flex-row;
  background-color: $white;
  border-radius: 4rem;
  box-shadow: $y-shadow;
  justify-content: space-between;
  max-width: 100rem;
  padding: 0.5rem 1rem;

  .search-section {
    margin-left: 1rem;
    width: 100%;

    label {
      color: $black;
      font-weight: 600;
    }

    input {
      background-color: inherit;
      border: none;
      color: $text-grey;
      display: block;
      width: 100%;
    }

    input::placeholder {
      color: $text-grey;
    }
  }

  .search {
    @include center-grid;
    width: 10%;

    div {
      @include center-grid;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      
      button {
        background-color: inherit;
        border: none;
      }
    }

    div:hover {
      background-color: $text-grey
    }
  }
}

.content {
  @include center-flex-column;
  font-size: 2rem;
  min-height: calc(100vh - 329px);
  padding-top: 5.4rem;
}

@keyframes msg-animation {
  50% {
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.notice, .alert{
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-name: msg-animation;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 0 66%;
  position: absolute;
  text-align: center;
  top: 8rem;
  width: 28rem;
}

.alert {
  background-color: rgba(250, 140, 140, 0.658);
  border: 1px solid rgb(250, 140, 140);
  z-index: 2;
}

.notice {
  background-color: rgba(175, 250, 140, 0.658);
  border: 1px solid rgb(175, 250, 140);
  z-index: 2;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 1.5rem;
    font-weight: 700;
  }

  input {
    background-color: $white;
    border-radius: 2rem;
    border: none;
    color: $black;;
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
    width: 100%;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  select {
    background-color: $light-grey;
    border-radius: 2rem;
    color: white;
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
  }
}

.actions {
  @include center-grid;
  margin-top: 1rem;
}

.photos_field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  a {
    flex-grow: 1;
    width: 33%;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .photo {
    position: relative;

    .trash-icon {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $shadow-grey;
      top: 0;
      color: $black;
    }
  }

  .photo:hover {
    .trash-icon {
      @include center-grid;
    }
  }
}
