// Color variables
$light-grey-opacity: hsla(0, 0%, 77%, 0.63);
$light-grey: hsl(0, 1%, 66%);
$text-grey: hsl(0, 1%, 26%);
$shadow-grey: hsla(0, 1%, 26%, 0.37);
$white: white;
$black: black;
$secundary-color: hsl(246, 56%, 80%);
$primary-color: hsl(253, 49%, 54%);
$error-bg: rgba(250, 140, 140, 0.658);
$error-border:rgb(250, 140, 140);
$valid-bg: rgba(175, 250, 140, 0.658);
$valid-border:rgb(175, 250, 140);

// Font family
$font-stack: 'Inter', sans-serif;

//Media-queries
$breakpoint-mobile: 800px;

//Shadows
$low-shadow: 0 0 3px $black;
$medium-shadow: 0 0 5px $black;
$large-shadow: 0 0 7px $black;
$y-shadow: 0 2px 5px $black;
$y-shadow-reverse: 0 -2px 5px $black;

//Borders
$simple-boder-black: 1px solid $black;
$simple-boder-white: 1px solid $white;
