.menu {
  background-color: $secundary-color;
  color: $black;
  display: none;
  flex-direction: column;
  height: 100vh;
  left: 0;
  padding: 2rem;
  position: absolute;
  top: 35px;
  width: 100vw;
  z-index: 11;
  
  a {
    color: $text-grey;
    font-size: 2.2rem;
    font-weight: 400;
    text-decoration: none;
  }
}

.options-menu {
  border-bottom: $simple-boder-black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.show { 
  display: flex !important;
}

.general-menu {
  h1 {
    border-bottom: $simple-boder-black;
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  .options-menu {
    gap: 4.5rem;
    padding: 4.5rem 0;
  }
}

@media only screen and (min-width: $breakpoint-mobile) {
  #menus {
    position: relative;
    border-radius: 50%;
    width: 30px;
  }

  #menus:hover {
    box-shadow: $medium-shadow;
    cursor: pointer;
  }

  #user-options {
    width: 100%;
  }

  .menu {
    border-radius: 2rem;
    box-shadow: $low-shadow;
    height: auto;
    left: auto;
    padding-top: 1rem;
    right: 0;
    width: 25rem;

    a {
      font-size: 1.5rem;
    }
  }

  .options-menu {
    border-bottom: $simple-boder-black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  #filter-options {
    display: none;
  }
}
