nav {
  align-items: center;
  background-color: $light-grey-opacity;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  padding: 1rem 8rem;
  position: absolute;
  width: 100%;

  .logo {
    font-size: 2.5rem;
    
    a {
      text-decoration: none;
    }
  }

  .right-nav{
    @include center-flex-row;
    gap: 1rem;  
    width: 20rem;
    
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }
    
    ul {
      @include center-flex-row;
      background-color: $light-grey;
      border-radius: 1rem;
      justify-content: space-evenly;
      list-style: none;
      width: 6.5rem;
    }
  }
}
