nav {
  align-items: center;
  background-color: $white;
  border-radius: 0 0 10px 10px;
  border: 1rem;
  box-shadow: 0 2px 4px $black;
  display: flex;
  font-size: 2rem;
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 10;

  .nav-container {
    position: relative;
    width: 100%;

    .logo {
      margin: 0 33%;
      position: fixed;
    }
  
    .right-nav {
      @include center-flex-row;
      padding: 0 10%;
      width: 100%;
      
      a {
        display: none;
      }
      
      ul {
        align-items: center;
        border-radius: 1rem;
        color: $light-blue;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;

        li:nth-child(2) {
          @include center-grid;
          background-color: $light-blue;
          border-radius: 50%;
          box-shadow: 0 0 2px $black;
          color: $black;
          height: 35px;
          width: 35px;
        }        
      }
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  nav {
    padding: 0 10%;

    .nav-container {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .logo {
        position: static;
        margin: 0;
      }

      .right-nav {
        display: flex;
        justify-content: end;
        gap: 1rem;  
        width: 20rem;
        padding: 0;
        
        a {
          color: black;
          font-size: 1.5rem;
          text-decoration: none;
        }
        
        ul {
          @include center-flex-row;
          background-color: $light-blue;
          border-radius: 1rem;
          justify-content: space-evenly;
          list-style: none;
          width: 6.5rem;
          box-shadow: 0 0 7px $black;
          color: $black;

          li:nth-child(2) {
            box-shadow: none;
            width: auto;
          }
        }
      }
    }
  }
}

// nav {
//   align-items: center;
//   background-color: $white;
//   display: flex;
//   font-size: 2rem;
//   justify-content: space-between;
//   padding: 1rem 8rem;
//   border: 1rem;
//   box-shadow: 0 2px 7px $black;
//   position: absolute;
//   border-radius: 0 0 10px 10px;
//   width: 100%;

//   .right-nav {
//     @include center-flex-row;
//     gap: 1rem;  
//     width: 20rem;
    
//     a {
//       color: black;
//       font-size: 1.5rem;
//       text-decoration: none;
//     }
    
//     ul {
//       @include center-flex-row;
//       background-color: $light-blue;
//       border-radius: 1rem;
//       justify-content: space-evenly;
//       list-style: none;
//       width: 6.5rem;
//       box-shadow: 0 0 7px $black;
//     }
//   }
// }
