<article class="reservation">
  <%= image_tag review.guest.profile_photo.variant(resize_to_limit: [100, 100]) %>
  <span><%= review.guest.name %></span>
  <i class="fa-solid fa-star"></i>
  <p><%= review.score %></p>
  <p><%= review.comment %></p>
</article>
