<nav>
  <div class="left-nav">
    <div class="logo">
      <%= link_to '<i class="fa-solid fa-paw"></i> <span>PetCare</span>'.html_safe, '/' %>
    </div>
  </div>
  <div class="right-nav">
    <%= link_to 'Hazte anfitrión', '/' %>
    <ul>
      <li><i class="fa-solid fa-bars"></i></li>
      <li><i class="fa-solid fa-circle-user"></i></li>
    </ul>
  </div>
</nav>
